[submodule "memory-picturesque"]
	path = memory-picturesque
	url = https://github.com/MichalKoder/memory-picturesque.git
[submodule "puzzle-eight"]
	path = puzzle-eight
	url = https://github.com/MichalKoder/puzzle-eight.git
[submodule "responsiveness"]
	path = responsiveness
	url = git@github.com:MichalKoder/responsiveness.git
